<div class="container">
  <button type="button" (click)="redirectToDomainList()" class="btn btn-secondary">Go to Domain List</button>
</div>
<div class="container">
  <h1 class="title">Select Tools</h1>

  <!-- Tabs -->
  <div class="tab">
    <button (click)="selectTab('dmarc')" [class.active]="selectedTab === 'dmarc'">checkdmarc</button>
    <button (click)="selectTab('mxToolbox')" [class.active]="selectedTab === 'mxToolbox'">MxToolbox</button>
  </div>

<!-- DMARC Section -->
  <div *ngIf="selectedTab === 'dmarc'" class="section active">
    <h1>DMARC Check for Domain: {{ domain }}</h1>
    <div class="form-group">
      <label for="domain">Enter Domain</label>
      <input [(ngModel)]="domain" type="text" id="domain" class="form-control" placeholder="Enter a domain" (blur)="checkDmarc()" />
      <button (click)="checkDmarc()" class="btn btn-primary mt-3">Check DMARC</button>
    </div>

    <!-- Show loading spinner -->
    <div *ngIf="loading" class="loading-spinner">
      <p>Loading...</p>
    </div>

    <!-- Show error if there's an issue -->
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>

    <!-- Display the data once it's loaded -->
    <div *ngIf="dmarcData" [hidden]="error || loading">
      <h3>Domain Information for {{ dmarcData.domain }}</h3>

      <div class="section">
        <h2>DMARC</h2>
        <div class="info">
          <p><span>Location:</span> {{ dmarcData.domain }}</p>
          <p><span>Record:</span> {{ dmarcData.dmarc.record }}</p>
          <ul class="tag-list">
            <li *ngFor="let tag of dmarcData.dmarc.tags | keyvalue">
              <span>{{ tag.key }}: {{ tag.value.value }} (Explicit: {{ tag.value.explicit }})</span>
            </li>
          </ul>
          <p class="valid"><strong>Valid:</strong> {{ dmarcData.dmarc.valid }}</p>
          <div class="warnings">
            <strong>Warnings:</strong>
            <ul>
              <li>{{ dmarcData.dmarc.warnings }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <h2>MX</h2>
        <div class="info">
          <li *ngFor="let host of dmarcData.mx.hosts">
            <p><span>Host:</span> {{ host.hostname }}</p>
            <p><span>IP:</span> {{ host.addresses[0] }}</p>
            <p><span>STARTTLS:</span> {{ host.starttls }}</p>
            <p><span>TLS:</span> {{ host.tls }}</p>
          </li>
        </div>
      </div>

      <div class="section">
        <h2>SPF</h2>
        <div class="info">
          <p><span>Record:</span> {{ dmarcData.spf.record }}</p>
          <p class="valid"><span>Valide:</span> Oui</p>
          <div class="warnings">
            <strong>Warnings:</strong>
            <ul>
              <li>The ptr mechanism should not be used</li>
              <li>The ptr mechanism should not be used</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <h2>DNSSEC</h2>
        <div class="info">
          <p><strong>DNSSEC:</strong> {{ dmarcData.dnssec ? 'Enabled' : 'Not Enabled' }}</p>
        </div>
      </div>
    
      <div class="section">
        <h2>MTA-STS</h2>
        <div class="info error">
          <p class="error"><strong>Error:</strong> {{ dmarcData.mta_sts.error }}</p>
          <p class="valid"><strong>Valid:</strong> Non</p>
        </div>
      </div>

    </div>
  </div>

 <!-- MxToolbox Section -->
 <div *ngIf="selectedTab === 'mxToolbox'" class="section">
  <h1>MxToolbox Check for Domain: {{ domainMxtoolbox }}</h1>
  <div class="form-group">
    <label for="domainMxtoolbox">Enter Domain</label>
    <input [(ngModel)]="domainMxtoolbox" type="text" id="domainMxtoolbox" class="form-control" placeholder="Enter a domain"/>
    <div class="row mt-3">
      <div class="col-4">
        <button (click)="fetchDMARCData('spf')" class="btn btn-primary btn-block">Check SPF</button>
      </div>
      <div class="col-4">
        <button (click)="fetchDMARCData('dkim')" class="btn btn-primary btn-block">Check DKIM</button>
      </div>
      <div class="col-4">
        <button (click)="fetchDMARCData('dmarc')" class="btn btn-primary btn-block">Check DMARC</button>
      </div>
    </div>
  </div>

  <!-- Show loadingMxtoolbox spinner -->
  <div *ngIf="loadingMxtoolbox" class="loading-spinner">
    <p>Loading...</p>
  </div>

  <!-- Show errorMxtoolbox if there's an issue -->
  <div *ngIf="errorMxtoolbox" class="alert alert-danger">
    {{ errorMxtoolbox }}
  </div>
  <div *ngIf="dmarcDataMxToolbox" [hidden]="errorMxtoolbox || loadingMxtoolbox">
    <h1>Mailtoolbox Data for {{ dmarcDataMxToolbox.CommandArgument }} from tools (MxToolbox)</h1>
  
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="2">General Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Command:</strong></td>
          <td>{{ dmarcDataMxToolbox.Command }}</td>
        </tr>
        <tr>
          <td><strong>Argument Type:</strong></td>
          <td>{{ dmarcDataMxToolbox.ArgumentType }}</td>
        </tr>
        <tr>
          <td><strong>Command Argument:</strong></td>
          <td>{{ dmarcDataMxToolbox.CommandArgument }}</td>
        </tr>
        <tr>
          <td><strong>Reporting Name Server:</strong></td>
          <td>{{ dmarcDataMxToolbox.ReportingNameServer }}</td>
        </tr>
        <tr>
          <td><strong>Time Recorded:</strong></td>
          <td>{{ dmarcDataMxToolbox.TimeRecorded }}</td>
        </tr>
      </tbody>
    </table>
    <div class="status-panel mt-4 mb-4">
      <div class="status-box panel-success">
          <h5>Passed</h5>
          <span>{{dmarcDataMxToolbox.Passed.length}} checks passed</span>
      </div>
      <div class="status-box panel-warning">
          <h5>Warnings</h5>
          <span>{{dmarcDataMxToolbox.Warnings.length}} warnings</span>
      </div>
      <div class="status-box panel-error">
          <h5>Errors</h5>
          <span>{{dmarcDataMxToolbox.Failed.length}} errors</span>
      </div>
    </div>
    <!-- Warnings Table -->
    <h3 *ngIf="dmarcDataMxToolbox.Warnings.length>0">Warnings</h3>
    <table class="table table-striped table-bordered" *ngIf="dmarcDataMxToolbox.Warnings.length>0">
      <thead>
        <tr>
          <th></th>
          <th>Warning Name</th>
          <th>Info</th>
          <th>Url</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warning of dmarcDataMxToolbox.Warnings">
          <td><img src="https://images.mxtoolbox.com/public/images/statusicons/warning.png" width="17" alt="Status Warning"></td>
          <td>{{ warning.Name }}</td>
          <td>{{ warning.Info }}</td>
          <td>{{ warning.Url }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Passed Checks Table -->
    <h3 *ngIf="dmarcDataMxToolbox.Passed.length>0">Passed Checks</h3>
    <table class="table table-striped table-bordered" *ngIf="dmarcDataMxToolbox.Passed.length>0">
      <thead>
        <tr>
          <th></th>
          <th>Check Name</th>
          <th>Info</th>
          <th>Url</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let passed of dmarcDataMxToolbox.Passed">
          <td><img src="https://images.mxtoolbox.com/public/images/statusicons/ok.png" width="17" alt="Status Ok"></td>
          <td>{{ passed.Name }}</td>
          <td>{{ passed.Info }}</td>
          <td>{{ passed.Url }}</td>
        </tr>
      </tbody>
    </table>


    <!-- Failed Checks Table -->
    <h3 *ngIf="dmarcDataMxToolbox.Failed.length>0">Failed Checks</h3>
    <table class="table table-striped table-bordered" *ngIf="dmarcDataMxToolbox.Failed.length>0">
      <thead>
        <tr>
          <th></th>
          <th>Check Name</th>
          <th>Info</th>
          <th>Url</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let failed of dmarcDataMxToolbox.Failed">
          <td><img src="https://images.mxtoolbox.com/public/images/statusicons/problem.png" width="17" alt="Status Ok"></td>
          <td>{{ failed.Name }}</td>
          <td>{{ failed.Info }}</td>
          <td>{{ failed.Url }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Error Message -->
  <div *ngIf="errorMxtoolbox" class="alert alert-danger">
    <p class="error">{{ errorMxtoolbox }}</p>
  </div>
  
  <!-- Loading Spinner -->
  <div *ngIf="loadingMxtoolbox" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- update new monitoring section -->
  <div class="container-fluid" *ngIf="dmarcDataMxToolbox" [hidden]="errorMxtoolbox || loadingMxtoolbox">
    <div class="row">
      <!-- Command Information Card -->
      <div class="col-md-5">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Command Information</h5>
            <p><strong>Command:</strong> {{ dmarcDataMxToolbox.Command }}</p>
            <p><strong>Argument:</strong> {{ dmarcDataMxToolbox.CommandArgument }}</p>
            <p><strong>Time Recorded:</strong> {{ dmarcDataMxToolbox.TimeRecorded }}</p>
            <p><strong>Reporting Name Server:</strong> {{ dmarcDataMxToolbox.ReportingNameServer }}</p>
            <p><strong>Time to Complete:</strong> {{ dmarcDataMxToolbox.TimeToComplete }}ms</p>
          </div>
        </div>
      </div>
      
      <!-- Passed Checks Table -->
      <div class="col-md-7">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Passed Checks</h5>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Check Name</th>
                  <th>Information</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let check of dmarcDataMxToolbox.Passed">
                  <td>{{ check.Name }}</td>
                  <td>{{ check.Info }}</td>
                  <td><a href="{{ check.Url }}" target="_blank">More Info</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <!-- Warnings and Errors Placeholder -->
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Warnings & Errors</h5>
            <p *ngIf="dmarcDataMxToolbox.Warnings.length === 0">No warnings found.</p>
            <p *ngIf="dmarcDataMxToolbox.Errors.length === 0">No errors found.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row" *ngIf="type === 'spf'">
      <div>
        <h4>SPF Records information</h4>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Prefix</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Value</th>
                    <th>PrefixDesc</th>
                    <th>RecordNum</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let info of dmarcDataMxToolbox.Information">
                    <td>{{ info.Prefix }}</td>
                    <td>{{ info.Type }}</td>
                    <td>{{ info.Description }}</td>
                    <td>{{ info.Value }}</td>
                    <td>{{ info.PrefixDesc }}</td>
                    <td>{{ info.RecordNum }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="row" *ngIf="type === 'dmarc'">
      <div>
        <h4>DMARC Records information</h4>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>TagValue</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let info of dmarcDataMxToolbox.Information">
                    <td>{{ info.Tag }}</td>
                    <td>{{ info.TagValue }}</td>
                    <td>{{ info.Name }}</td>
                    <td>{{ info.Description }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  
    <div class="row">
      <!-- Related Lookups -->
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Related Lookups</h5>
            <ul>
              <li *ngFor="let lookup of dmarcDataMxToolbox.RelatedLookups">
                <strong>{{ lookup.Name }}:</strong> 
                <a href="{{ lookup.URL }}" target="_blank">{{ lookup.CommandArgument }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <!-- Transcript -->
      <div class="col-md-12">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Transcript</h5>
            <pre>{{ dmarcDataMxToolbox.Transcript[0].Transcript }}</pre>
          </div>
        </div>
      </div>
    </div>
    <div class="related-lookups">
      <h4>Related Lookups</h4>
      <button class="btn btn-primary mr-3"><a href="https://mxtoolbox.com/api/v1/lookup/a/mails-tourmag.com" target="_blank" style="color: white">DNS Lookup</a></button>
      <button class="btn btn-primary"><a href="https://mxtoolbox.com/api/v1/lookup/mx/mails-tourmag.com" target="_blank" style="color: white">MX Lookup</a></button>
  </div>
  </div>
 </div>
</div>