<div class="container">
  <button type="button" (click)="redirectToDomainList()" class="btn btn-secondary">Go to Domain List</button>
</div>
<div class="container">
  <h1 class="title">Tools</h1>

  <!-- Tabs -->
  <div class="tab">
    <button (click)="selectTab('dmarc')" [class.active]="selectedTab === 'dmarc'">DMARC</button>
    <button (click)="selectTab('mxToolbox')" [class.active]="selectedTab === 'mxToolbox'">MxToolbox</button>
  </div>

<!-- DMARC Section -->
  <div *ngIf="selectedTab === 'dmarc'" class="section active">
    <h1>DMARC Check for Domain: {{ domain }}</h1>
    <div class="form-group">
      <label for="domain">Enter Domain</label>
      <input [(ngModel)]="domain" type="text" id="domain" class="form-control" placeholder="Enter a domain" (blur)="checkDmarc()" />
      <button (click)="checkDmarc()" class="btn btn-primary mt-3">Check DMARC</button>
    </div>

    <!-- Show loading spinner -->
    <div *ngIf="loading" class="loading-spinner">
      <p>Loading...</p>
    </div>

    <!-- Show error if there's an issue -->
    <div *ngIf="error" class="alert alert-danger">
      {{ error }}
    </div>

    <!-- Display the data once it's loaded -->
    <div *ngIf="dmarcData" [hidden]="error || loading">
      <h3>Domain Information for {{ dmarcData.domain }}</h3>

      <div class="section">
        <h2>DMARC</h2>
        <div class="info">
          <p><span>Location:</span> {{ dmarcData.domain }}</p>
          <p><span>Record:</span> {{ dmarcData.dmarc.record }}</p>
          <ul class="tag-list">
            <li *ngFor="let tag of dmarcData.dmarc.tags | keyvalue">
              <span>{{ tag.key }}: {{ tag.value.value }} (Explicit: {{ tag.value.explicit }})</span>
            </li>
          </ul>
          <p class="valid"><strong>Valid:</strong> {{ dmarcData.dmarc.valid }}</p>
          <div class="warnings">
            <strong>Warnings:</strong>
            <ul>
              <li>{{ dmarcData.dmarc.warnings }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <h2>MX</h2>
        <div class="info">
          <li *ngFor="let host of dmarcData.mx.hosts">
            <p><span>Host:</span> {{ host.hostname }}</p>
            <p><span>IP:</span> {{ host.addresses[0] }}</p>
            <p><span>STARTTLS:</span> {{ host.starttls }}</p>
            <p><span>TLS:</span> {{ host.tls }}</p>
          </li>
        </div>
      </div>

      <div class="section">
        <h2>SPF</h2>
        <div class="info">
          <p><span>Record:</span> {{ dmarcData.spf.record }}</p>
          <p class="valid"><span>Valide:</span> Oui</p>
          <div class="warnings">
            <strong>Warnings:</strong>
            <ul>
              <li>The ptr mechanism should not be used</li>
              <li>The ptr mechanism should not be used</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <h2>DNSSEC</h2>
        <div class="info">
          <p><strong>DNSSEC:</strong> {{ dmarcData.dnssec ? 'Enabled' : 'Not Enabled' }}</p>
        </div>
      </div>
    
      <div class="section">
        <h2>MTA-STS</h2>
        <div class="info error">
          <p class="error"><strong>Error:</strong> {{ dmarcData.mta_sts.error }}</p>
          <p class="valid"><strong>Valid:</strong> Non</p>
        </div>
      </div>

    </div>
  </div>

 <!-- MxToolbox Section -->
 <div *ngIf="selectedTab === 'mxToolbox'" class="section">
  <h1>DMARC Check for Domain: {{ domainMxtoolbox }}</h1>
  <div class="form-group">
    <label for="domainMxtoolbox">Enter Domain</label>
    <input [(ngModel)]="domainMxtoolbox" type="text" id="domainMxtoolbox" class="form-control" placeholder="Enter a domain"/>
    <div class="row mt-3">
      <div class="col-4">
        <button (click)="fetchDMARCData('spf')" class="btn btn-primary btn-block">Check SPF</button>
      </div>
      <div class="col-4">
        <button (click)="fetchDMARCData('dkim:email')" class="btn btn-primary btn-block">Check DKIM</button>
      </div>
      <div class="col-4">
        <button (click)="fetchDMARCData('dmarc')" class="btn btn-primary btn-block">Check DMARC</button>
      </div>
    </div>
  </div>

  <!-- Show loadingMxtoolbox spinner -->
  <div *ngIf="loadingMxtoolbox" class="loading-spinner">
    <p>Loading...</p>
  </div>

  <!-- Show errorMxtoolbox if there's an issue -->
  <div *ngIf="errorMxtoolbox" class="alert alert-danger">
    {{ errorMxtoolbox }}
  </div>
  <div *ngIf="dmarcDataMxToolbox" [hidden]="errorMxtoolbox || loadingMxtoolbox">
    <h1>DMARC Data for {{ dmarcDataMxToolbox.CommandArgument }} from tools (MxToolbox)</h1>
  
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="2">DMARC Summary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Time Recorded:</strong></td>
          <td>{{ dmarcDataMxToolbox.TimeRecorded }}</td>
        </tr>
        <tr>
          <td><strong>Reporting Name Server:</strong></td>
          <td>{{ dmarcDataMxToolbox.ReportingNameServer }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Warnings Table -->
    <h3 *ngIf="dmarcDataMxToolbox.Warnings.length>0">Warnings</h3>
    <table class="table table-striped table-bordered" *ngIf="dmarcDataMxToolbox.Warnings.length>0">
      <thead>
        <tr>
          <th>Warning Name</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let warning of dmarcDataMxToolbox.Warnings">
          <td>{{ warning.Name }}</td>
          <td>{{ warning.Info }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Passed Checks Table -->
    <h3 *ngIf="dmarcDataMxToolbox.Passed.length>0">Passed Checks</h3>
    <table class="table table-striped table-bordered" *ngIf="dmarcDataMxToolbox.Passed.length>0">
      <thead>
        <tr>
          <th></th>
          <th>Check Name</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let passed of dmarcDataMxToolbox.Passed">
          <td><img src="https://images.mxtoolbox.com/public/images/statusicons/ok.png" width="17" alt="Status Ok"></td>
          <td>{{ passed.Name }}</td>
          <td>{{ passed.Info }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Error Message -->
  <div *ngIf="errorMxtoolbox" class="alert alert-danger">
    <p class="error">{{ errorMxtoolbox }}</p>
  </div>
  
  <!-- Loading Spinner -->
  <div *ngIf="loadingMxtoolbox" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
 </div>
</div>